
.seecustomer {
    display: inline-block;
    padding: 0px;
    margin-top: 50px;
    margin-left:-70px
    
}
.search{
    display:inline-block;
    float:right;
    margin-top:50px;
}
.gridview {
    display: inline-block;
    float: right;
    width: auto;
    height:auto;
    margin-left:-200px;
}
.grid{
    height:100px;
    width:100px; 
    margin-top:50px;
}
.textsearch{
    width:500px;
    height:25px;
    text-align:center;
    border-radius:18px;
    border:2px solid white;  
}
.buttonsearch {
    border: 2px solid red;
    border-radius: 10px 5px;
    background-color:black;
    color:white;
    height:30px;
    cursor:pointer;
}
.backsearch {
    border: 2px solid red;
    border-radius: 10px 5px;
    background-color: black;
    color: white;
    height: 30px;
    cursor: pointer;
}
.customerlist{
    height:36px;
    width:300px;
    text-align:center;
    margin-left:-100px;
    margin-bottom:-120px;
    border-radius:28px 2px;
    background-color:black;
    color:orangered;
    font-weight:800;
    font-size:16px;
    cursor:pointer;
}
.inputbox {
    display: inline-block;
    float: left;
    margin-left: -180px;
    margin-top:120px;
    clear:both;
    padding:20px;

}
.textsearch1 {
    width: 200px;
    height: 25px;
    text-align: center;
    border-radius: 18px;
    border: 2px solid white;
}
.label {
    color: antiquewhite;
    font-weight: 600;
    margin-left: 10px;
    font-size: 18px;
}
.buttonsearch2 {
    border: 2px solid red;
    border-radius: 10px 5px;
    background-color: black;
    color: white;
    height: 30px;
    cursor: pointer;
    margin-left:200px;
    width:120px;
    text-align:center;
}
.buttonsearch3 {
    height: 36px;
    width: 300px;
    text-align: center;
    margin-left: -100px;
    margin-top: 100px;
    border-radius: 28px 2px;
    background-color: black;
    color: orangered;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    display:inline-block;
    clear:both;
}
.updateinfo {
    display: inline-block;
    height: 36px;
    width: 300px;
    margin-left: -100px;
    margin-bottom: -200px;
    border-radius: 28px 2px;
    background-color: black;
    color: orangered;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    clear: both;
    text-align:center;
}
.date {
    display: inline-block;
    margin-left: -220px;
    margin-top: -70px;
}

.textvisible {
    color: whitesmoke;
    text-align: right;
    margin-left:500px;
    font-size:25px;
}
.visib {
    margin-top: 60px;
}

